<div class="card p-5 mx-auto my-4 shadow">
    <h1 class="text-center text-primary">{{title}}</h1>
    <img [src]="imgSrc" alt="" srcset="" width="300" height="300" class="img-fluid mx-auto d-block mb-3">
    <div >
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" class="form-control mb-4 " [(ngModel)]="task" placeholder="new task">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary" (click)="AddNewTask(task)">Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped">
                        <tbody>
                            @for (task of tasks; track $index) {
                            <tr>
                                <td [contentEditable]="edit" [textContent]="task" (blur)="UpdateTask($index,td.innerText)" #td></td>
                                @if (!edit) 
                                {
                                    <td class="text-center"><button class="btn btn-success" (click)="EditTask()">Edit</button></td>
                                }
                                <td class="text-center"><button class="btn btn-danger" (click)="DeleteTask($index)">Remove</button></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>