<div class="card p-5 mx-auto my-4 shadow">
    <h1 class="text-center text-primary">{{title}}</h1>
    <div class="text-center"><fa-icon size="6x" [icon]="faCoffee"></fa-icon></div>
    <div >
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <input type="text" class="form-control mb-4 " [(ngModel)]="toDo.title"  placeholder="new task">
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary" (click)="CreateTask()" >Add</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <ul class="list-group">
                        @for (task of toDoList; track task.id) {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="task-class">
                                    <input (change)="ChangeState(task)" class="form-check-input me-1"  type="checkbox" value="" id="{{task.id}}">
                                    <label [ngClass]="{'line-through': task.completed}" class="form-check-label" for="{{task.id}}">{{task.title}}</label>
                                </div>
                                <a [routerLink]="['/details', task.id]"
                                routerLinkActive="router-link-active">details</a>
                                <button class="btn btn-danger mr-0" (click)="DeleteTask(task.id)">Delete</button>
                          </div>
                        </li>
                        }
                      </ul>
                </div>
            </div>
        </div>
    </div>
</div>